In [1]:
import numpy as np

In [2]:
my_list = [0,1,2,3,4,5]
my_list

[0, 1, 2, 3, 4, 5]

In [3]:
arr = np.array(my_list)

In [4]:
np.random.randfloat(1,5)

AttributeError: module 'numpy.random' has no attribute 'randfloat'

# Harsha Practice

In [ ]:
arr = np.array(my_list)

In [ ]:
arr

In [ ]:
np.arange(0,2)

In [ ]:
np.arange(0,100,15)

In [ ]:
np.zeros((1,3))

#Print only Zeros

In [ ]:
np.zeros((3))

In [ ]:
np.zeros((3,1))

## Print only ones

np.ones((2,4))

In [ ]:
np.ones((2,4))

# Print only Random numbers between 1 to 5

In [ ]:
np.random.randint(1,5)

In [ ]:
np.random.randint(1,5)

In [ ]:
np.random.randint(1,10)

In [ ]:
np.random.randint(1,10)

In [ ]:
np.random.randint(10,20,(3,4)) ##Here 3 is Rows and 4 is columns

In [ ]:
np.random.randint(10,20,(2,4))

# OPERATIONS

In [7]:
a = np.random.randint(50,100,10) #HERE GIVES ARRAY RANDOM VALUES BETWEEN 50 TO 100 WITH DIFFERENCE OF 10
a

array([93, 52, 77, 82, 62, 61, 94, 88, 89, 96])

In [ ]:
a = np.random.randint(50,100,10) #HERE GIVES ARRAY RANDOM VALUES BETWEEN 50 TO 100 WITH DIFFERENCE OF 10
a

In [ ]:
a = np.random.randint(50,100,10) #HERE GIVES ARRAY RANDOM VALUES BETWEEN 50 TO 100 WITH DIFFERENCE OF 10
a

In [ ]:
a = np.random.randint(50,100,5)  # WITH DIFFERENCE OF 5
a

In [ ]:
a = np.random.randint(50,100,1) # WITH DIFFERENCE OF 1
a

# Maximum, Minimum ,Mean, Median

In [ ]:
a.max()

In [ ]:
arr.min()

In [ ]:
a.min()

In [ ]:
a.mean()

In [8]:
a.median()

AttributeError: 'numpy.ndarray' object has no attribute 'median'

In [9]:
median(a)

85.0

In [ ]:
a = array([1,3,4,5,6])
median(a)

In [5]:

a = array([1,2,3,4,9])
median(a)

NameError: name 'array' is not defined

In [6]:
from numpy import *
a = array([1,2,3,4,9])
median(a)

3.0

In [10]:
arr

array([0, 1, 2, 3, 4, 5])

In [13]:
arr.reshape(1,6)

array([[0, 1, 2, 3, 4, 5]])

In [14]:
arr.reshape(6,1)

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])

#  INdexing

In [23]:
mat1 = np.arange(0,100).reshape(10,10) 
mat1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [19]:
mat = np.arange(0,100,5).reshape(5,4) 
mat

array([[ 0,  5, 10, 15],
       [20, 25, 30, 35],
       [40, 45, 50, 55],
       [60, 65, 70, 75],
       [80, 85, 90, 95]])

In [22]:
mat = np.arange(0,100,5).reshape(10,10) 
#Here we have given difference 5 so total values from 0 to 100 is 20 we cant create a Matrix with the 10 *10

ValueError: cannot reshape array of size 20 into shape (10,10)

In [24]:
row = 6
col = 2

In [25]:
mat1(row,col)

TypeError: 'numpy.ndarray' object is not callable

In [26]:
mat1[row,col] # row 6 line, col 2 line

62

In [27]:
mat1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [30]:
mat1[:,col] # here col means 2 like mat[:,2] total second column will print

array([ 2, 12, 22, 32, 42, 52, 62, 72, 82, 92])

In [31]:
mat1[row,:] # here total sixth row will print

array([60, 61, 62, 63, 64, 65, 66, 67, 68, 69])

In [32]:
mat[1:5,1:3,]

array([[11, 12],
       [21, 22],
       [31, 32],
       [41, 42]])

In [33]:
mat1[1:5,1:3,]
# here 1;5 is rows from 1 row to 5, and 1:3 is 1 col to 3 col

array([[11, 12],
       [21, 22],
       [31, 32],
       [41, 42]])

In [34]:
mat1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

# masking

In [35]:
we can also called as filterS

SyntaxError: invalid syntax (1978191519.py, line 1)

In [36]:
mat>50

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]])

In [37]:
b=mat[mat<50]

In [38]:
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

In [ ]:
Completed